.score-board {
  border: 2px solid red;
  background-color: red;
  padding: 10px 20px;
  width: 350px;
  height: 70px;
  border-radius: 5px;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
  margin-left: 40px;
}

.score,
.best-score {
  display: flex;
  gap: 7px;
  align-items: center;
  color: white;
}