@import '../src/styles/scoreboard.css';
@import '../src/styles/board.css';


@font-face {
  font-family: 'Marvel';
  src: url('./assets/Marvel-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  display: grid;
  grid-template-rows: 125px auto 40px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: red;
  padding: 20px;
}

.header h1 {
  color: white;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Marvel', sans-serif;
  user-select: none;
}

@media (max-width: 611px) {
  .header h1 {
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Marvel', sans-serif;
    user-select: none;
  }
}

.main {
  background: url('https://cdn.wallpapersafari.com/9/69/uy4YTE.jpg') no-repeat center/cover;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  color: white;
  font-family: sans-serif;
  background-color: red;
}